<div class="side-bar-header">
  <div class="side-bar-username">
    <a href="#">Tom</a>
  </div>
  <div class="side-bar-roomcreate">
    <a href="#">チャットを作成する</a>
  </div>
</div> 

<div class="rooms">
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom2</a>
  </div>
</div>